@page
@model McsaMeetsMailer.Pages.FullSchedulePreviewModel
@{
    ViewData[ "Title" ] = "Full Schedule Preview";
}

<link href="@Url.Content("~/css/fullSchedulePreview.css")" rel="stylesheet" type="text/css" />
<h1>Full Schedule Preview</h1>
<br>
<iframe srcdoc="@Model.html" width="100%" height="1000px"></iframe>