@page
@model McsaMeetsMailer.Pages.MeetSheetEmailPreviewModel
@{
  ViewData["Title"] = "Email Preview";

  var monthName = $"{DateTime.Now:MMMM}";
}

<div class="container" style="padding-top: 20px;">
  <label class="label label-default">Email Subject</label>
  <input id="emailSubject" type="text" class="form-control input-sm" maxlength="64" value="MCSA-KZN Meet Sheet : @monthName" />
  <label class="label label-default">Email Body</label>
  <textarea id="emailBody" class="form-control input-sm" rows="3" maxlength="512">Hi&#10;&#13;Please find the latest MCSA-KZN Meet Sheet below.</textarea>
</div>

<div class="container">
  <label class="label label-default">Meet Sheet</label>
  <iframe id="contentFrame" class="form-control" style="width: 100%; height: 60vh;" src="@Url.Content("MeetSheetOnly")">Sorry, your browser does not support i-frames.</iframe>
</div>

<div class="container" style="padding-top: 10px;">
  <input id="sendToAddress" type="button" class="btn btn-success" value="Send to Address" onclick="sendEmailToAddress()"/>
  <input id="sendToAddressDisabled" type="button" class="btn btn-default" value="Send to Address" disabled="disabled" style="display: none;"/>
  <input id="emailAddress" type="email"/>
  <input id="sendToAll" type="button" class="btn btn-danger pull-right" value="Send to all Members" onclick="sendEmailToAll()"/>
  <input id="sendToAllDisabled" type="button" class="btn btn-default pull-right" value="Send to all Members" disabled="disabled" style="display: none;"/>
  <br/>
  <input id="sendStatus" type="text" class="text-center" style="border: none; width: 100%; font-weight: bold;" readonly/>
</div>

<script language="javascript">

  function disableSendToAddressButton() {
    var sendToAddressButton = document.getElementById("sendToAddress");
    var sendToAddressButtonDisabled = document.getElementById("sendToAddressDisabled");

    sendToAddressButton.style.display = 'none';
    sendToAddressButtonDisabled.style.display = 'inline';
  }

  function enableSendToAddressButton() {
    var sendToAddressButton = document.getElementById("sendToAddress");
    var sendToAddressButtonDisabled = document.getElementById("sendToAddressDisabled");

    sendToAddressButton.style.display = 'inline';
    sendToAddressButtonDisabled.style.display = 'none';
  }

  function disableSendToAllButton() {
    var sendToAllButton = document.getElementById("sendToAll");
    var sendToAllButtonDisabled = document.getElementById("sendToAllDisabled");

    sendToAllButton.style.display = 'none';
    sendToAllButtonDisabled.style.display = 'inline';
  }

  function enableSendToAllButton() {
    var sendToAllButton = document.getElementById("sendToAll");
    var sendToAllButtonDisabled = document.getElementById("sendToAllDisabled");

    sendToAllButton.style.display = 'inline';
    sendToAllButtonDisabled.style.display = 'none';
  }

  function disableSendButtons() {
    disableSendToAddressButton();
    disableSendToAllButton();
  }

  function enableSendButtons() {
    enableSendToAddressButton();
    enableSendToAllButton();
  }

  function getSerialisedEmailContentModel() {
    var emailSubject = document.getElementById("emailSubject").value;
    var emailBody = document.getElementById("emailBody").value;
    var emailAddress = document.getElementById("emailAddress").value;

    var emailContent = new Object();
    emailContent.Address = emailAddress;
    emailContent.Subject = emailSubject;
    emailContent.Body = emailBody;

    return JSON.stringify(emailContent);
  }

  function sendEmailToAddress() {
    var emailAddress = document.getElementById("emailAddress").value;
    var sendStatus = document.getElementById("sendStatus");

    if (emailAddress === "") {
      alert("Please enter an email address first.");
      return;
    }

    disableSendButtons();

    sendStatus.value = 'Sending...';

    $.ajax({
      url: 'api/email/sendFullScheduleToAddress',
      data: getSerialisedEmailContentModel(),
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      success: function (result) {
        sendStatus.value = 'Sent successfully.';
      },
      complete: function () {
        enableSendButtons();
      },
      error: function (xhr, exception) {
        sendStatus.value = 'Send failed.';
        alert('Failed to send email, the following message may be helpful: (' + xhr.status + ') ' + xhr.responseText);
      }
    });
  }

  function sendEmailToAll() {
    if (!confirm("This will send the Meet Sheet to all members, are you sure?")) {
      return;
    }

    var sendStatus = document.getElementById("sendStatus");

    disableSendButtons();

    sendStatus.value = 'Sending...';

    $.ajax({
      url: 'api/email/sendFullScheduleToAll',
      data: getSerialisedEmailContentModel(),
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      success: function (result) {
        sendStatus.value = 'Sent successfully.';
      },
      complete: function () {
        enableSendButtons();
      },
      error: function (xhr, exception) {
        sendStatus.value = 'Send failed.';
        alert('Failed to send email, the following message may be helpful: (' + xhr.status + ') ' + xhr.responseText);
      }
    });
  }
</script>