@page
@model McsaMeetsMailer.Pages.MeetSheetLeaderPreview
@{
  ViewData["Title"] = "Leader Preview";
}

<div class="container" style="padding-top: 10px;">
  <p>
    <label class="label label-default">Filter by Leader</label>
    <select id="leaders" class="form-control" onchange="refreshContentFrame()">
      <option value="All">ALL</option>
      @{
        foreach (var leaderName in Model.LeaderNames.OrderBy(n => n))
        {
          <option value="@leaderName">@leaderName</option>
        }
      }
    </select>
  </p>
</div>

<div class="container">
  <iframe id="contentFrame" class="form-control iframe-resizable" style="width: 100%; height: 80vh;" src="@Url.Content("MeetSheetOnly")">Sorry, your browser does not support i-frames.</iframe>
</div>

<script language="javascript">
  function refreshContentFrame() {
    var leadersDropDown = document.getElementById("leaders");

    var selectedLeaderName = leadersDropDown.options[leadersDropDown.selectedIndex].value;

    var contentFrame = document.getElementById("contentFrame");
    contentFrame.src = "@Url.Content("MeetSheetOnly")";

    if (!(selectedLeaderName === "All")) {
      contentFrame.src += "?leader=" + selectedLeaderName;
    }

    contentFrame.refresh();
  }
</script>