@page
@model McsaMeetsMailer.Pages.MeetSheetEmailPreviewModel
@{
    ViewData["Title"] = "Email Preview";
}

<div class="container" style="padding-top: 20px;">
  <iframe id="contentFrame" style="width: 100%; height: 70vh;" src="@Url.Content("MeetSheetOnly")">Sorry, your browser does not support i-frames.</iframe>
</div>

<div class="container" style="padding-top: 10px;">
  <input id="sendToAddress" type="button" class="btn btn-success" value="Send to Address" onclick="sendEmailToAddress()" />
  <input id="sendToAddressDummy" type="button" class="btn btn-default" value="Send to Address" disabled="disabled" style="display: none;" />
  <input id="emailAddress" type="text" />
  <input id="sendToAll" type="button" class="btn btn-danger pull-right" value="Send to all Members" onclick="sendEmailToAll()" />
  <input id="sendToAllDummy" type="button" class="btn btn-default pull-right" value="Send to all Members" disabled="disabled" style="display: none;" />
  <br />
  <input id="sendStatus" type="text" class="text-center" style="border: none; width: 100%; font-weight: bold;" readonly />
</div>

<script language="javascript">
  function sendEmailToAddress() {
    var sendToAddressButton = document.getElementById("sendToAddress");
    var sendToAddressButtonDummy = document.getElementById("sendToAddressDummy");
    var emailAddress = document.getElementById("emailAddress").value;
    var sendStatus = document.getElementById("sendStatus");

    if (emailAddress === "") {
      alert("Please enter an email address first.");
      return;
    }

    sendToAddressButton.style.display = 'none';
    sendToAddressButtonDummy.style.display = 'inline';

    sendStatus.value = 'Sending...';

    $.ajax({
      url: 'api/email/sendFullScheduleToAddress',
      data: emailAddress,
      type: 'POST',
      contentType: 'application/text',
      dataType: 'text',
      success: function (result) {
        sendStatus.value = 'Sent successfully.';
      },
      complete: function () {
        sendToAddressButton.style.display = 'inline';
        sendToAddressButtonDummy.style.display = 'none';
      },
      error: function (xhr, exception) {
        sendStatus.value = 'Send failed.';
        alert('Failed to send email, the following message may be helpful: (' + xhr.status + ') ' + xhr.responseText);
      }
    });
  }

  function sendEmailToAll() {
    if (!confirm("This will send the Meet Sheet to all members, are you sure?")) {
      return;
    }

    var sendToAllButton = document.getElementById("sendToAll");
    var sendToAllButtonDummy = document.getElementById("sendToAllDummy");
    var sendStatus = document.getElementById("sendStatus");

    sendToAllButton.style.display = 'none';
    sendToAllButtonDummy.style.display = 'inline';

    sendStatus.value = 'Sending...';

    $.ajax({
      url: 'api/email/sendFullScheduleToAll',
      data: null,
      type: 'POST',
      contentType: 'application/text',
      dataType: 'text',
      success: function (result) {
        sendStatus.value = 'Sent successfully.';
      },
      complete: function () {
        sendToAllButton.style.display = 'inline';
        sendToAllButtonDummy.style.display = 'none';
      },
      error: function (xhr, exception) {
        sendStatus.value = 'Send failed.';
        alert('Failed to send email, the following message may be helpful: (' + xhr.status + ') ' + xhr.responseText);
      }
    });
  }
</script>