@page
@model McsaMeetsMailer.Pages.MeetsModel
@{
  ViewData["Title"] = "MCSA-KZN Meets";
  Layout = null;
}

<div style="text-align: center;">
  <p>
    <div style="display: inline-block;">
      @Html.Raw(Model.Html)
    </div>
  </p>
</div>