@page
@model McsaMeetsMailer.Pages.MeetsModel
@{
  ViewData["Title"] = "MCSA-KZN Meets";
  Layout = null;
}

<div style="width: 80%; text-align: center;">
  <img src="@Url.Content("images/header.jpg")" class="img-responsive" style="max-height: 200px;" />
  
  <div style="display: inline-block;">
    @Html.Raw(Model.Html)
  </div>

  <img src="@Url.Content("images/footer.jpg")" class="img-responsive" style="max-height: 100px;" />
</div>