table {
    width: 100%;

    tr {
        padding: 5px;
    }

    tr:nth-child(odd) {
        background-color: #F3F3F3;
    }

    tr:nth-child(even) {
        background-color: white;
    }

    th {
        padding: 10px;
        background-color: black;
        color: white;
        font-style: normal;
    }

    td {
        padding: 10px;
    }
}
